.hp-header {
    font-family: 'Arsenal', sans-serif;
    background-color: #282c34;
    height: 100px;
    color: white;
    position: relative;
    text-align: right;
    p {
        margin: 0;
    }
}

.hp-footer {
    font-family: 'Arsenal', sans-serif;
    background-color: #282c34;
    height: 100px;
    color: white;
    text-align: center;
    padding: 20px 0;
    p {
        margin: 0;
    }
}

.hp-standart-width {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

.hp-logo {
    height: 50px;
    vertical-align: middle;
    position: absolute;
    left: 10px;
    top: 20px;
}

.hp-phone-panel {
    font-family: 'Poiret One', cursive;
    img {
        max-height: 900px;
        max-width: 100vw;
    }
    background-color: #f2f2f2;
    .hp-take-yours {
        font-size: 2em;
        text-align: left;
        margin-top: -30px;
        padding: 10px;
        color: #3a2866;
    }
}

.hp-section-label {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
}

.hp-products-section {
    .hp-section-label {
        color: #3a2866;
    }
}

.hp-products-section {
    padding: 20px 0 50px;
}

.hp-benefits-section {
    background-color: #535558;
    padding: 20px 0;
    color: #f2f2f2;
}

.hp-benefits-container {
    position: relative;
    max-width: 850px;
    margin: 0 auto;
    p {
        font-size: 0.8em;
        max-width: 650px;
        margin: 1.2em auto;
    }
    img {
        max-width: 100%;
    }
    .half-width {
        vertical-align: top;
        text-align: left;
    }
    li {
        margin: 1em 0;
    }
}

.hp-separator {
    width: 120px;
    height: 3px;
    background: linear-gradient(to right, #fbbfb5, #68a1f0);
    margin: 6px auto;
}

.half-width {
    display: inline-block;
    max-width: calc(50% - 10px);
}

.phone-info-card {
    border: 1px solid rgba(0,0,0,0.04);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.02), 0 1px 2px 0 rgba(0,0,0,0.08);
    border-radius: 2px;
    width: 220px;
    display: inline-block;
    font-family: arial,sans-serif;
    margin: 20px 10px;
    img {
        margin: 8px auto 12px;
        width: 140px;
        height: 140px;
    }
    p {
        margin: 6px 8px;
        text-align: left;
        color: #282c34;
    }
    .gray-tip {
        color: #6b6b6b;
        font-size: 0.8em;
    }
    .bold-tip {
        color: #026ed1;
        font-weight: bold;
    }
}